@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* navbar*/
header{
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: rgba(219, 190, 25, 0.137);
}
header .brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .menu__box{
    display: flex;
}
header input{
    display: none;
}

header .menu__box a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    transition: 0.3s ease;

}

  .menu__box li{
    list-style:none;
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    text-decoration: none;
    align-items: center;
  }

header .menu__box li:before{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .menu__box li:hover:before{
    width: 100%;
}
/* Main*/
section{
    padding: 100px 200px;

}

.home{
    padding: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.home::before{
    z-index: 7;
    content: '';
    position: absolute;
    background-color: rgba(219, 190, 25, 0.137);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home .content{
    z-index: 55;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}
.home .content.active{
    display: block;
}
.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 50px;
}
.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}
.home .content p{
    margin-bottom: 65px;
}
.home .content a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.home .media-icons {
    z-index: 888; 
    position: absolute;
    right: 30px;
    bottom: 30px; 
    display: flex;
    flex-direction: column;
    transition: 1.2s ease;
}

.home .media-icons a {
    color: #fff;
    font-size: 1.5em;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}
/* button effect*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c: rgb(252, 217, 130);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(3.5);
}
nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
/* slider effect*/
.slider-nav {
    z-index: 88; 
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
    width: 30%;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.slider-nav .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}
.slider-nav .nav-btn.active{
    background: rgb(30, 243, 154);
}
.slider-nav .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-nav .nav-btn:hover{
    scale: 1.5;
}
.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.video-slide.active{
    clip-path: circle(150% at 0 50%);
}
/* responsive*/
@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
    .home .media-icons{
        right: 15px;
    }
    header .navigation{
        display: none;
    }
    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .home .content h1{
        font-size: 3.4em;
      }
      .home .content h1 span{
        font-size: 1em;
      }
      .menu__btn {
        position: fixed;
        top: 30px;
        left: 90vw;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #cccecf;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      header .menu__box li:before{
display: none;
    }
    header .menu__box li{
        margin: 0;
        font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;

    }

};